.red
{
   background-color:crimson; 
   height:100px;
   width:100px;
   text-align:center;
   border-radius: 50%;
   margin:5px;
   border-style:double;
}
.yellow
{
    background-color:yellow;
    height:100px;
    width:100px;
    text-align:center;
    border-radius: 50%;
    margin:5px;
    border-style:double;
    
}
.green
{
    background-color:lightgreen;
    height:100px;
    width:100px;
    text-align:center;
    border-radius: 50%;
    margin:5px;
    border-style:double;
    
}
.box
{
    background-color:gray;
    height:400px;
    width:200px;
    text-align:center;
    padding:50px 80px 50px 50px;
    background-size:cover;
    border-style:solid;
    border-radius:30px;
}